/* Wobble Horizontal */
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html, body {
  width: 100%;
  height: 100%; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%;
      max-width: 100vw; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 2rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0;
      max-width: 100%; } }
  @media (max-width: 28.125em) {
    body {
      padding: 0; } }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7; }

.heading__primary {
  display: flex;
  flex-direction: column;
  display: block;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase; }
  .heading__primary-main {
    display: block;
    font-size: 5rem;
    letter-spacing: 1.2rem;
    color: #f6f3f3;
    animation: moveInDown 1s ease-out; }
    @media (max-width: 75em) {
      .heading__primary-main {
        font-size: 3rem;
        letter-spacing: .3rem; } }
  .heading__primary-sub {
    display: block;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
    color: #f6f3f3;
    animation: moveInLeft 1s ease-out; }
    @media (max-width: 75em) {
      .heading__primary-sub {
        font-size: 1rem;
        letter-spacing: .1rem; } }

.heading__secondary {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #02dbfd, #05606e);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .4s; }
  @media (max-width: 56.25em) {
    .heading__secondary {
      font-size: 3rem; } }
  .heading__secondary:hover {
    transform: scale(1.2); }
  .heading__secondary--emirates-main {
    font-size: 2.5;
    font-weight: 700;
    display: block;
    transition: all .1s; }
    @media (max-width: 56.25em) {
      .heading__secondary--emirates-main {
        font-size: 2.5rem; } }
    @media (max-width: 28.125em) {
      .heading__secondary--emirates-main {
        display: block;
        font-size: 2rem; } }
    .heading__secondary--emirates-main:hover {
      transform: skewX(20deg); }

.u-center-text {
  text-align: center; }

.u-margin-top {
  margin-top: 5rem; }

.u-margin-top-big {
  margin-top: 10rem; }

.u-margin-bottom {
  margin-bottom: 3rem; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  background-color: #f6f3f3;
  padding: 1.5rem 4rem;
  border-radius: 4.5rem;
  position: relative;
  transition: all 0.4s; }

.btn:hover {
  transform: translateY(-3rem); }

.btn:active {
  transform: translateY(-1rem); }

.btn--white {
  color: #000;
  background-color: #f6f3f3;
  margin-top: 5rem; }
  .btn--white::after {
    background-color: #f6f3f3; }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4.5rem;
  z-index: -1;
  opacity: 1;
  transition: all 0.6s; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--animation {
  animation: moveInUP 1s ease-out; }

.composition {
  margin-top: 3.5rem; }
  .composition__pic {
    width: 100%;
    object-fit: contain;
    transition: all .1s; }
    .composition__pic--one {
      height: 15rem; }
      .composition__pic--one:hover {
        transform: scale(1.1); }
    .composition__pic--two {
      height: 15rem; }
      .composition__pic--two:hover {
        transform: scale(1.4); }
    .composition__pic--three {
      height: 15rem; }
      .composition__pic--three:hover {
        transform: scale(1.4); }
  .composition__container {
    position: relative; }
  .composition__container .composition__tooltip {
    position: absolute;
    bottom: -6rem;
    left: 6rem;
    text-align: center;
    width: 60%;
    margin-left: 8rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: #f6f3f3;
    border-radius: .5rem;
    padding: .4rem;
    opacity: 0;
    pointer-events: none; }
  .composition__container:hover .composition__tooltip {
    opacity: 1; }

.flyer {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .flyer__box {
    color: #c8c7c7;
    height: 52rem;
    transition: all 0.8s ease;
    width: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 3px; }
    .flyer__box--front {
      background-size: cover;
      overflow: hidden;
      object-fit: cover;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .flyer__box--front--one {
        background-image: url(../img/flyer-emirates.jpeg); }
      .flyer__box--front--two {
        background-image: url(../img/flyer-emirates-two.jpg); }
      .flyer__box--front--three {
        background-image: url(../img/flyer-emirates-three.jpg); }
      .flyer__box--front--four {
        background-image: url(../img/singapore-flyer-one.jpg); }
      .flyer__box--front--five {
        background-image: url(../img/singapore-flyer-two.png); }
      .flyer__box--front--six {
        background-image: url(../img/singapore-flyer-three.png); }
      .flyer__box--front--seven {
        background-image: url(../img/qater-flyer-one.jpeg); }
      .flyer__box--front--eight {
        background-image: url(../img/qater-flyer-two.jpeg); }
      .flyer__box--front--nine {
        background-image: url(../img/qater-flyer-three.jpeg); }
    .flyer__box--back {
      transform: rotateY(180deg);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      position: absolute;
      top: 0;
      left: 0; }
      .flyer__box--back--1 {
        background-image: linear-gradient(to right bottom, #ec3e3e, #b50808); }
      .flyer__box--back--2 {
        background-image: linear-gradient(to right bottom, #3d3dfd, #050598); }
      .flyer__box--back--3 {
        background-image: linear-gradient(to right bottom, #f509d9, #530349); }
    .flyer__box:hover .flyer__box--front {
      transform: rotateY(-180deg); }
    .flyer__box:hover .flyer__box--back {
      transform: rotateY(0); }
  .flyer__backText {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 95%; }
  .flyer__text {
    color: #f6f3f3;
    font-weight: 700;
    font-size: 3rem; }
  .flyer--btn {
    margin-top: 10rem; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .flyer {
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .flyer__box {
        width: 100%;
        height: auto;
        position: relative; }
        .flyer__box--front {
          height: 73rem;
          background-size: cover;
          overflow: hidden;
          object-fit: cover; }
        .flyer__box--back {
          transform: rotateY(0); }
        .flyer__box:hover .flyer__box--front {
          transform: rotateY(0); }
      .flyer__backText {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 7rem; } }

.Info__box {
  height: 100%;
  padding: 3rem 1rem;
  color: #ebe8e8;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 56.25em) {
    .Info__box {
      padding: 1.5rem 1rem; } }
  .Info__box-one {
    background-color: #ec3e3e; }
  .Info__box-two {
    background-color: #3d3dfd; }
  .Info__box-three {
    color: #f6f3f3;
    background-color: #f509d9; }
  .Info__box:hover {
    transform: translateY(-5rem); }
    @media (max-width: 56.25em) {
      .Info__box:hover {
        transform: translate(0) scale(1.1); } }

.footer {
  padding: 25rem 0;
  margin: 0 auto;
  background-color: #1e1d1d;
  position: relative; }
  .footer__logo {
    width: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 15%; }
    .footer__logo--pic {
      width: 100%; }
  @media (max-width: 56.25em) {
    .footer__signUp {
      margin: 15rem 0 0 0; } }
  .footer__item {
    list-style-type: none;
    display: block; }
  .footer__list {
    display: block; }
    .footer__list:not(:last-child) {
      margin-bottom: 2rem; }
  .footer__links, .footer__links:link, .footer__links:visited {
    text-decoration: none;
    display: block;
    width: 20rem;
    color: #ebe8e8;
    background-image: linear-gradient(90deg, #05606e 0%, #05606e 50%, #02dbfd 50%);
    background-size: 240%;
    padding: 0.5rem 2rem;
    text-align: center;
    transition: all 0.7s; }
  .footer__links:hover {
    background-position: 100%;
    color: #f6f3f3;
    transform: scale(1.1) translateY(-2px); }
  .footer__links:active {
    transform: scale(1) translateY(-1px); }
  .footer--text {
    font-size: 2.5rem; }
    .footer--text-sub {
      font-size: 1.5rem;
      max-width: 40rem;
      margin: auto;
      color: #ebe8e8; }
  .footer__form--input {
    display: inline-block;
    width: 40rem;
    padding: 1rem;
    margin-left: 7rem;
    margin-top: 2rem; }
    @media (max-width: 56.25em) {
      .footer__form--input {
        margin-left: -2rem; } }
    @media (max-width: 37.5em) {
      .footer__form--input {
        transform: scale(0.8); } }
    .footer__form--input:focus {
      outline: none;
      border: solid green 2px !important; }
    .footer__form--input:focus:invalid {
      border: solid red 2px !important; }
  .footer__form--label {
    display: block;
    margin: auto;
    max-width: 40rem;
    margin-top: 2rem;
    color: #ebe8e8;
    font-size: 1.4rem;
    opacity: 1;
    transition: all 0.4s; }
  .footer__form--input:placeholder-shown ~ .footer__form--label {
    margin-top: -2rem;
    opacity: 0; }
  .footer__form--btn {
    display: inline-block;
    padding: 1rem;
    width: 8rem;
    background-image: linear-gradient(90deg, #05606e 0%, #05606e 50%, #02dbfd 50%);
    background-size: 240%;
    cursor: pointer;
    border: none;
    transition: all 0.7s;
    text-transform: uppercase;
    font-weight: 600;
    color: #ebe8e8; }
    .footer__form--btn:hover {
      outline: none;
      border: none;
      background-position: 100%;
      color: #f6f3f3; }
    .footer__form--btn:active {
      transform: scale(1) translateY(-1px); }
    @media (max-width: 56.25em) {
      .footer__form--btn {
        font-size: 1.5rem;
        width: 10rem; } }
    @media (max-width: 37.5em) {
      .footer__form--btn {
        transform: scale(0.8); } }
  .footer__bio {
    margin-top: 8rem;
    position: relative; }
    .footer__bio--socials {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media (max-width: 56.25em) {
        .footer__bio--socials {
          margin-top: -3rem; } }
      .footer__bio--socials--git {
        display: inline-block;
        margin-left: 2rem;
        color: #f6f3f3;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        transition: all 0.4s; }
        .footer__bio--socials--git:hover {
          color: #02c5e4;
          animation-name: hvr-wobble-horizontal;
          animation-duration: 1s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1; }
      .footer__bio--socials--tweet {
        display: inline-block;
        margin-left: 2rem;
        color: #f6f3f3;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        transition: all 0.4s; }
        .footer__bio--socials--tweet:hover {
          color: #02c5e4;
          animation-name: hvr-wobble-horizontal;
          animation-duration: 1s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1; }
      .footer__bio--socials--linkedin {
        display: inline-block;
        margin-left: 2rem;
        color: #f6f3f3;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        transition: all 0.4s; }
        .footer__bio--socials--linkedin:hover {
          color: #02c5e4;
          animation-name: hvr-wobble-horizontal;
          animation-duration: 1s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1; }
    .footer__bio--text {
      display: inline-block;
      text-align: center;
      margin-top: 6rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ebe8e8; }

.header {
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(2, 219, 253, 0.8), rgba(5, 96, 110, 0.9)), url(../img/plane.jpeg);
  height: 95vh;
  background-size: cover;
  background-attachment: top;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
  @media (max-width: 56.25em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); } }
  .header__logo--pic {
    height: 7rem;
    width: 7rem;
    object-fit: contain;
    position: absolute;
    top: 4rem;
    left: 4rem; }

.grid__topThree {
  max-width: 114rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 6rem;
  margin: auto; }
  @media (max-width: 56.25em) {
    .grid__topThree {
      max-width: 80rem; } }
  @media (max-width: 37.5em) {
    .grid__topThree {
      max-width: 40rem; } }

.grid__emirates {
  max-width: 114rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  margin: auto; }
  @media (max-width: 56.25em) {
    .grid__emirates {
      max-width: 80rem; } }
  @media (max-width: 37.5em) {
    .grid__emirates {
      grid-template-columns: 1fr;
      row-gap: 3rem; } }

.grid__Info {
  max-width: 114rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  margin: auto; }
  @media (max-width: 56.25em) {
    .grid__Info {
      max-width: 80rem;
      grid-template-columns: 1fr 1fr;
      row-gap: 3rem; } }
  @media (max-width: 37.5em) {
    .grid__Info {
      max-width: 40rem;
      grid-template-columns: 1fr;
      row-gap: 3rem; } }

.grid__flyer {
  max-width: 114rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  margin: auto; }
  @media (max-width: 56.25em) {
    .grid__flyer {
      max-width: 50rem;
      grid-template-columns: 1fr; } }
  @media (max-width: 37.5em) {
    .grid__flyer {
      max-width: 55rem; } }

.grid__footer {
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  margin: auto; }
  @media (max-width: 56.25em) {
    .grid__footer {
      max-width: 50rem;
      grid-template-columns: 1fr;
      place-items: center;
      row-gap: 8rem; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  text-align: center;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 2.5rem;
      right: 3rem; } }
  @media (max-width: 28.125em) {
    .navigation__button {
      top: 2.5rem;
      right: .7rem;
      transform: scale(0.6); } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  background-image: radial-gradient(#02dbfd, #05606e);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.85, 0, 0.15, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3rem;
      right: 3rem; } }
  @media (max-width: 28.125em) {
    .navigation__background {
      top: 3rem;
      right: 1rem;
      transform: scale(0.6); } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  width: 0;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.5, 1, 0.89, 1); }

.navigation__list {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__items {
  margin: 1rem; }

.navigation__links:link, .navigation__links:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #f6f3f3;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f6f3f3 50%);
  background-size: 230%;
  transition: all .4s; }
  .navigation__links:link span, .navigation__links:visited span {
    margin-right: 1rem;
    display: inline-block; }

.navigation__links:hover, .navigation__links:active {
  background-position: 100%;
  color: #02dbfd;
  transform: translateX(2rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
  opacity: 1; }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 4pX;
    background-color: #02dbfd;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .1s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
  background-color: #05606e; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
  background-color: #05606e; }

.topThree {
  padding: 25rem 0;
  padding-bottom: 0;
  background-color: #ebe8e8;
  margin-top: -25rem; }
  @media (max-width: 56.25em) {
    .topThree {
      margin-top: -35rem;
      padding: 35rem 0; } }

.emirates__section {
  background-color: #f6f3f3;
  padding: 20rem 0;
  margin-top: -10rem;
  transform: skewY(-7deg);
  margin-top: -10rem;
  margin-bottom: 10rem; }
  .emirates__section > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .emirates__section {
      padding: 10rem 0; } }

.singapore__section {
  background-color: #ebe8e8;
  padding: 25rem 0; }

.qater__section {
  background-color: #f6f3f3;
  padding: 20rem 0; }
