$color-white:#f6f3f3;
$color-black: #000;
$color-black-light: #1e1d1d;

$color-primary-light:#02dbfd;
$color-primary-dark: #05606e;

$color-secondary-light: #ec3e3e;
$color-secondary-dark: #b50808;

$color-blue-light:#3d3dfd;
$color-blue-dark:#050598;

$color-purple-light: #f509d9;
$color-purple-dark: #530349;


$color-grey-light:#ebe8e8;
$color-grey-dark:#c0bfbf;



