.grid__topThree {
  max-width: 114rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 6rem;
  margin: auto;

  @include respond (tab-port) {
    max-width: 80rem;
  }
  @include respond (phone) {
    max-width: 40rem;
  }
  @include respond (phone-port) {
    
  }
}

.grid__emirates {
  max-width: 114rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  margin: auto;
  @include respond (tab-port) {
    max-width: 80rem;
  }
  @include respond (phone) {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
  @include respond (phone-port) {
    
  }
}

.grid__Info {
  max-width: 114rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  margin: auto;

  @include respond (tab-port) {
    max-width: 80rem;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
  }
  @include respond (phone) {
    max-width: 40rem;
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

}

.grid__flyer {
  max-width: 114rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  margin: auto;

  @include respond (tab-port) {
    max-width: 50rem;
    grid-template-columns: 1fr;
  }
  @include respond (phone) {
    max-width: 55rem;
  }
  @include respond (phone-port) {
    
  }
}

.grid__footer {
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  margin: auto;

  @include respond (tab-port) {
    max-width: 50rem;
    grid-template-columns: 1fr;
    place-items: center;
    row-gap: 8rem;
  }
  @include respond (phone) {
    
  }
  @include respond (phone-port) {
    
  }
}
