.Info {

    &__box {
        height: 100%;
        padding: 3rem 1rem;
        color: $color-grey-light;
        box-shadow: 0 1rem 5rem rgba($color-black, .2);

        @include respond (tab-port) {
            padding: 1.5rem 1rem;
          }
          @include respond (phone) {
            
          }
          @include respond (phone-port) {
            
          }

        &-one {
            background-color:$color-secondary-light;
        }
        &-two {
            background-color: $color-blue-light;
        }
        &-three {
            color: $color-white;
            background-color: $color-purple-light;
        }
        &:hover {
            transform: translateY(-5rem);
            @include respond (tab-port) {
                transform: translate(0) scale(1.1);
              }
        }
    }

}