@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-20rem);
  }
  80% {
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }
  80% {
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
